.notice-box
  .notice-box__message お知らせメッセージ
.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        こんにちはリラックマさん
        %ul(class="side-hedder__box__menu")
          %li(class="side-hedder__box__menu__create-group-icon")<> △
          %li(class="side-hedder__box__menu__edit-account-icon")<> ▲
  .chat-side-group-wrapper
  .chat-side-groups
    .__group-name グループ名
    .__group-message トーク内容
