.notice-box
  .notice-box__message お知らせメッセージ
.chat-side
  .side-header
    .sode-header__box
      .side-header__box__user-name
        リラックマ
        %ul(class="side-hedder__box__menu")
          %li(class="side-hedder__box__menu__create-group-icon")<> △
          %li(class="side-hedder__box__menu__edit-account-icon")<> ▲
  .chat-side-groups

